CompileFlags:
  CompilationDatabase: build
  Add:
    - -m32
    - -march=i386
    - -mtune=i386
    - -I./src/include
    - -I./src/lib/include
Diagnostics:
  UnusedIncludes: None
---
If:
  PathMatch: .*\.cpp
CompileFlags:
  Add:
    - -std=gnu++98
---
If:
  PathMatch: .*\.c
CompileFlags:
  Add:
    - -std=gnu89
